.left_box
  .left_box__header
    .left_box__header__inbox
      .left_box__header__inbox__name
        = current_user.name
        -# miyako
      %ul.left_box__header__inbox__lists
        %li.fas-edit
          = link_to "#" do
            =icon('fas','edit',class: 'icon')
        %li.fas-cog
          = link_to edit_user_path(current_user) do
            = icon('fas','cog',class: 'icon')

        
  .left_box__content
    .left_box__content__groups
      .left_box__content__groups__group
        techcamp
      .left_box__content__groups__message
        まだメッセージがありません

