.wrapper
  = render "side_bar"
  = render "main_chat"

  
  

  -# <div class="left_box">
  -#   <div class="left_header"></div>
  -# </div>

  -# <div class="right_box"></div>
  -#   <div class="right_header"></div>
  -#   <div class="right_footer"></div>
  


